.form-with-boxes {
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    &__head {
        display: flex;
    }
    &__boxes {
        display: flex;
        flex-wrap: wrap;
    }
    &__box-item {
        display: flex;
        padding: 4px 8px;
        border-right: 1px solid #666;
        margin-right: 8px;
        &:last-child {
            border: none;
            margin: 0;
        }
    }
}
