$blue-ms: #0078D7;

$red: #CD456B;
$white-disabled: #ccc;
$white: #fff;
$back-disabled-button: #899aa3;

$bg-panel: #f7f7f7;
$border-line: #e0e0e0;


$green-deep: #008A61;
$green-bright: #2dc194;
$green-salad: #72faca;

$bege-deep: #FF7D9E;
$bege-normal: #D3A440;
