.pagination {
    display: flex;
    border: solid 1px #666;
    margin-bottom: 15px;
    justify-content: space-between;
    &__total-pages {
        display: flex;
    }
    &__navigation {
        display: flex;
    }
    &__item {
        flex: 1;
        padding: 4px 10px;
        &--current {
            font-weight: bold;
            text-decoration: none;
            background: darkkhaki;
        }
    }
}
