@import "constants/typography";
@import "constants/sizes";
@import "constants/_colors.scss";

body {
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

