@import "constants/_typography";
@import "constants/_sizes";
@import "constants/_colors.scss";

body {
    background: $body-bg;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

