.holder-block {
    display: flex;
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
    flex-direction: column;
    &__head {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        display: flex;
        font-weight: bold;
        font-size: 16px;
    }
    &__toggler {
        display: flex;
        padding: 10px;
        cursor: pointer;
    }

    &__content {
        display: flex;
    }

}
