.button-checkbox-group {
    &__label {
        height: 0;
        opacity: 0;
        width: 0;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        margin: 0;
        padding: 0
    }
}
